/* 

	TableCloth	
	by Alen Grakalic, brought to you by cssglobe.com
	
*/

/* general styles */

div {
    padding-left: 5%;
    padding-right: 5%;
}
table{
    width:100%;
    border-collapse:collapse;
    margin:1em 0;
    padding: 2px;
}
th, td{text-align:left;padding:.5em;border:1px solid #fff;}
th{background:#102EEF url(tr_back.gif) repeat-x;color:#fff;}
td{background:#e5f1f4;}

/* tablecloth styles */

tr.even td{background:#EAEBF5;}
tr.odd td{background:#FEFEFE;}

* { box-sizing:border-box; }

@font-face {
    font-family: 'Calibri Light';
    font-style: normal;
    font-weight: normal;
    src: local('Calibri Light'), url('fuentes/calibril.woff') format('woff');
    }

body {
	font-family: 'Calibri Light';
	background: #FEFEFE;
  -webkit-font-smoothing: antialiased;
}

hgroup { 
	text-align:center;
	margin-top: 4em;
}

h1, h3 { font-weight: 300; }

h1 { color: #102EEF; font-weight: bold;}

h3 { color: #636a74; }

footer { 
    text-align: center; 
    padding-top: 5%;
}

footer p {
	color: #888;
	font-size: 13px;
	letter-spacing: .4px;
}

footer a {
	color: #102EEF;
	text-decoration: none;
	transition: all .2s ease;
}

footer a:hover {
	color: #666;
	text-decoration: underline;
}

footer img {
	width: 80px;
	transition: all .2s ease;
}

footer img:hover { opacity: .83; }

footer img:focus , footer a:focus { outline: none; }