@import url("https://fonts.googleapis.com/css?family=Varela+Round");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}


.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  height: 8vh;
  list-style: none;
  background-color: #EAEBF5;
  font-weight: bold;
  color: #102EEF;
}

.menu li {
  width: 125px;
  height: 30px;
  transition: background-position-x 0.9s linear;
  text-align: center;

  a {
    font-size: 22px;
    color: #777;
    text-decoration: none;
    transition: all 0.45s;
  }

  &:not(:last-child) {
    margin-right: 30px;
  }
}


